<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
	<appender name="console-appender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%c:%L] %m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMax" value="ERROR" />
			<param name="LevelMin" value="TRACE" />
		</filter>
	</appender>

	<appender name="file-appender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${log_dir}/business.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss\} %-5p] [%t] [%c:%L] %m%n" />
		</layout>
	</appender>

	<!-- debug log -->
	<logger name="org.eclipse" additivity="false">
		<level value="info" />
		<appender-ref ref="console-appender" />
	</logger>

	<root>
		<!-- <priority value="${root_log_level}" /> -->
		<priority value="error" />
		<appender-ref ref="${root_appender_ref}" />
	</root>
</log4j:configuration>